<a href="https://colab.research.google.com/github/krishnavatsh/Basket-Ball/blob/main/Class99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Drawing Patterns

In [1]:
num = int(input("Enter the no. of Rows "))
for x in range(0,num):
  for y in range(0,x+1):
    print("star",end=" ")
  print()

Enter the no. of Rows 4
star
star star
star star star
star star star star

In [2]:
num = int(input("Enter the no. of Rows "))
for x in range(0,num):
  for y in range(0,x+1):
    print(y,end=" ")
  print()

Enter the no. of Rows 5
0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [4]:
num = int(input("Enter the no. of Rows "))
for x in range(1,num+1):
  for y in range(1,x+1):
    print(y,end=" ")
  print()

Enter the no. of Rows 4
1
1 2
1 2 3
1 2 3 4

In [5]:
num = int(input("Enter the no. of Rows "))
for x in range(0,num):
  for y in range(num,x,-1):
    print("*",end=" ")
  print()

Enter the no. of Rows 5
* * * * *
* * * *
* * *
* *
*

Project 99

In [7]:
name= input("Enter Your Name : ")
iteration=len(name)
for i in range(0,iteration):
  for j in range(0,iteration):
    if(i==j):
      print(name[j],sep=" ",end=" ")
    else:
      print("*" , sep=" " , end=" ")
  print()

Enter Your Name : KRISHNA
K * * * * * *
* R * * * * *
* * I * * * *
* * * S * * *
* * * * H * *
* * * * * N *
* * * * * * A